/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* End Variables */
/* Start Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  display: block;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* End Global */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
}
.sidebar > h3 {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .sidebar > h3 {
    font-size: 13px;
  }
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: " ";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  width: 12px;
  height: 12px;
  background-color: black;
  bottom: -29px;
  border: 5px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
}
.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar ul li a span {
    display: none;
  }
}
/* End Sidebar */
/* Start Content */
.page .whole-content {
  overflow: hidden;
}
.content .head .search::before {
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  position: absolute;
  font-weight: 900;
  font-size: 14px;
  color: var(--grey-color);
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.content .head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 180px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.content .head .search input:focus {
  width: 200px;
}
.content .head .search input:focus::placeholder {
  opacity: 0;
}
.content .head .icons .notification {
  cursor: pointer;
}
.content .head .icons .notification::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--red-color);
  top: -5px;
  right: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.icons .notification:hover,
.icons img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.content h1 {
  margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  left: 0;
}
.content h1::before {
  background-color: white;
  width: 120px;
}
.content h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0 10px;
    gap: 10px;
  }
}
/* End Content */
/* Start Welcome */
.wrapper .welcome {
  overflow: hidden;
}
.intro img {
  width: 200px;
  margin-bottom: -10px;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
}
@media (max-width: 767px) {
  .intro {
    padding-bottom: 30px;
    justify-content: center;
  }
  .intro img {
    display: none;
  }
}
.welcome .avatar {
  margin-top: -30px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .welcome .avatar {
    margin-left: 0;
  }
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
@media (max-width: 767px) {
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .visit {
    margin-right: auto;
    margin-left: auto;
  }
}
/* End Welcome */
/* Start Quick Draft Widget */
.draft textarea {
  resize: none;
  height: 170px;
  border: none;
}
.draft input.title:focus::placeholder,
.draft textarea:focus::placeholder {
  opacity: 0;
}
.draft input.sub {
  margin-top: 20px;
  margin-right: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.draft input.sub:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .draft input.sub {
    margin-right: auto;
    margin-left: auto;
  }
}
/* End Quick Draft Widget */
/* Start Yearly Targets Widget */
.yearly-targets .targets {
  display: flex;
  flex-direction: column;
}
.yearly-targets .targets .target .icon {
  flex-basis: 80px;
  height: 80px;
}
.yearly-targets .targets .target:nth-of-type(1) .icon {
  color: var(--blue-color);
  background-color: #cce3ff;
}
.yearly-targets .targets .target:nth-of-type(2) .icon {
  color: var(--orange-color);
  background-color: #fdecce;
}
.yearly-targets .targets .target:nth-of-type(3) .icon {
  color: var(--green-color);
  background-color: #d3f3df;
}
.yearly-targets .targets .target .data {
  flex: 1;
}
.yearly-targets .targets .target .data .prog {
  height: 3px;
}
.yearly-targets .targets .target:nth-of-type(1) .data .prog {
  background-color: #cce3ff;
}
.yearly-targets .targets .target:nth-of-type(2) .data .prog {
  background-color: #fdecce;
}
.yearly-targets .targets .target:nth-of-type(3) .data .prog {
  background-color: #d3f3df;
}
.yearly-targets .targets .target .data .prog span {
  height: 100%;
  display: block;
  position: relative;
  transition: width 3s;
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  -ms-transition: width 3s;
  -o-transition: width 3s;
}
.yearly-targets .targets .target:nth-of-type(1) .data .prog span {
  background-color: var(--blue-color);
}
.yearly-targets .targets .target:nth-of-type(2) .data .prog span {
  background-color: var(--orange-color);
}
.yearly-targets .targets .target:nth-of-type(3) .data .prog span {
  background-color: var(--green-color);
}
.yearly-targets .targets .target .data .prog span::after,
.yearly-targets .targets .target .data .prog span::before {
  position: absolute;
}
.yearly-targets .targets .target .data .prog span::after {
  content: attr(data-width);
  background: var(--blue-color);
  width: 30px;
  height: 14px;
  right: -17px;
  top: -40px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.yearly-targets .targets .target .data .prog span::before {
  content: "";
  right: -8px;
  top: -20px;
  width: 0px;
  height: 0px;
  border: 10px solid;
}
.yearly-targets .targets .target:nth-of-type(1) .data .prog span::after {
  background: var(--blue-color);
}
.yearly-targets .targets .target:nth-of-type(2) .data .prog span::after {
  background: var(--orange-color);
}
.yearly-targets .targets .target:nth-of-type(3) .data .prog span::after {
  background: var(--green-color);
}
.yearly-targets .targets .target:nth-of-type(1) .data .prog span::before {
  border-color: var(--blue-color) transparent transparent transparent;
}
.yearly-targets .targets .target:nth-of-type(2) .data .prog span::before {
  border-color: var(--orange-color) transparent transparent transparent;
}
.yearly-targets .targets .target:nth-of-type(3) .data .prog span::before {
  border-color: var(--green-color) transparent transparent transparent;
}

/* End Yearly Targets Widget */
/* Start Tickets Statistics Widget*/
.tickets-statistics .statistics {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.tickets-statistics .statistics .statistic i {
  font-size: 25px;
}
.tickets-statistics .statistics .statistic:nth-of-type(1) i {
  color: var(--orange-color);
}
.tickets-statistics .statistics .statistic:nth-of-type(2) i {
  color: var(--blue-alt-color);
}
.tickets-statistics .statistics .statistic:nth-of-type(3) i {
  color: var(--green-color);
}
.tickets-statistics .statistics .statistic:nth-of-type(4) i {
  color: var(--red-color);
}
/* End Tickets Statistics Widget*/
/* Start Latest News Widget */
.latest-news .new:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  .latest-news .new,
  .latest-news .new .content {
    flex-direction: column;
  }
}
.latest-news .new img {
  width: 100px;
}
@media (max-width: 767px) {
  .latest-news .new img {
    width: 100%;
  }
  .latest-news .new .info {
    margin-bottom: 20px;
  }
}
.latest-news .new > span {
  text-align: center;
  padding: 5px 10px;
}
/* End Latest News Widget */
/* Start Latest Tasks Widget */
.lastest-tasks .task:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.lastest-tasks .task.deleted {
  opacity: 0.33;
}
.lastest-tasks .task.deleted .info {
  text-decoration: line-through;
}
.lastest-tasks .task i {
  cursor: pointer;
}
@media (max-width: 767px) {
  .lastest-tasks .task {
    flex-direction: column;
  }
  .lastest-tasks .task i {
    margin-top: 20px;
  }
}
/* End Latest Tasks Widget */
/* Start Latest Uploads Widget */
.latest-upload .upload img {
  width: 40px;
}
.latest-upload .upload:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/* End Latest Uploads Widget */
/* Start Last Project Progress Widget */
.last-project-progress .content {
  border-left: 2px solid var(--blue-color);
}
@media (max-width: 767px) {
  .last-project-progress .content > span:not(:last-child) {
    margin-bottom: 25px;
  }
  .last-project-progress .content > span {
    width: 100%;
    font-size: 15px;
  }
}
.last-project-progress .content > span::after,
.last-project-progress .content > span::before {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.last-project-progress .content > span::after {
  left: -45px;
  top: -4px;
  width: 30px;
  height: 30px;
}
.last-project-progress .content > span::before {
  background-color: var(--blue-color);
  width: 20px;
  height: 20px;
  top: -1px;
  left: -42px;
  border: 2px solid white;
  z-index: 1;
}
.last-project-progress .content > span:nth-last-child(2)::before {
  animation: change-background 1s infinite;
  -webkit-animation: change-background 2s linear infinite;
}
.last-project-progress .content > span:last-child::before {
  background-color: white;
}
.last-project-progress .img {
  position: absolute;
  right: 0;
  bottom: -5px;
}
.last-project-progress .img img {
  width: 150px;
  opacity: 0.19;
}
@media (max-width: 767px) {
  .last-project-progress .img {
    display: none;
  }
}
/* End Last Project Progress Widget */
/* Start Reminders Widget */
.reminders .reminder {
  padding-left: 20px;
  border-left: 2px solid;
}
.reminders .reminder:first-of-type {
  border-color: var(--blue-color);
}
.reminders .reminder:nth-of-type(2) {
  border-color: var(--green-color);
}
.reminders .reminder:nth-of-type(3) {
  border-color: var(--orange-color);
}
.reminders .reminder:nth-of-type(4) {
  border-color: var(--red-color);
}
.reminders .reminder::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reminders .reminder:first-of-type::before {
  background-color: var(--blue-color);
}
.reminders .reminder:nth-of-type(2)::before {
  background-color: var(--green-color);
}
.reminders .reminder:nth-of-type(3)::before {
  background-color: var(--orange-color);
}
.reminders .reminder:nth-of-type(4)::before {
  background-color: var(--red-color);
}
@media (max-width: 767px) {
  .reminders .reminder h4 {
    width: 100%;
    font-size: 14px;
  }
  .reminders .reminder span {
    font-size: 12px;
  }
}
/* End Reminders Widget */
/* Start Last Post Widget */
.last-post .info {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.last-post .post {
  text-align: justify;
  line-height: 1.8;
  border-bottom: 1px solid #eee;
  padding: 20px 0 30px;
}
.last-post .emo {
  padding: 20px 0 10px;
}
.last-post .emo i {
  margin-right: 5px;
}
/* End Last Post Widget */
/* Start Social Media Stats widget */
.social-stats .media {
  height: 60px;
  background-color: #d1e4fc;
}
.social-stats .media .icon {
  flex-basis: 55px;
  height: 100%;
}
.social-stats .media i {
  font-size: 30px;
  color: white;
  border: none;
}
.social-stats .twitter .icon {
  background-color: #1da1f2;
}
.social-stats .twitter .info span {
  color: #1da1f2;
}
.social-stats .twitter .info a {
  background-color: #1da1f2;
}
.social-stats .facebook .icon {
  background-color: #1877f2;
}
.social-stats .facebook .info span {
  color: #1877f2;
}
.social-stats .facebook .info a {
  background-color: #1877f2;
}
.social-stats .youtube {
  background-color: #ffcccc;
}
.social-stats .youtube .icon {
  background-color: #ff0000;
}
.social-stats .youtube .info span {
  color: #ff0000;
}
.social-stats .youtube .info a {
  background-color: #ff0000;
}
.social-stats .linkedin .icon {
  background-color: #0077b5;
}
.social-stats .linkedin .info span {
  color: #0077b5;
}
.social-stats .linkedin .info a {
  background-color: #0077b5;
}
@media (max-width: 767px) {
  .social-stats .info {
    padding: 10px;
  }
  .social-stats .info a {
    padding: 5px 5px;
  }
}
/* End Social Media Stats widget */
/* Start Projects */
.projects .content {
  overflow-x: auto;
}
.projects table {
  border-spacing: 0;
  border-color: #eee;
  min-width: 1000px;
}
.projects td {
  border: 1px solid #eee;
  padding: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.projects tbody .sm-btn {
  font-size: 13px;
}
@media (max-width: 767px) {
  .projects table .sm-btn {
    margin: 0 auto;
  }
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects .team img:not(:first-child) {
  margin-left: -16px;
}
.projects table .pending {
  background-color: var(--orange-color);
}
.projects table .in-progress {
  background-color: var(--blue-color);
}
.projects table .completed {
  background-color: var(--green-color);
}
.projects table .rejected {
  background-color: var(--red-color);
}
/* End Projects */
/* Start Animation */
@keyframes change-background {
  0% {
    background-color: var(--blue-color);
  }
  100% {
    background-color: #b3d6ff;
  }
}
/* End Animation */
